* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

.App {
    height: 100vh;
    background: rgb(15, 18, 20);
}

.row {

    color: white;
    display: flex;
    padding: 0 10px;
}

.MuiTypography-root {
    color: white !important;
}