* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

.App {
    height: 100vh;
    background: rgb(15, 18, 20);
}

.MuiTypography-root {
    color: white !important;
}

.MuiFormControl-root {
    color: white !important;

    >.MuiFormLabel-root {
        color: white !important;
    }

    >.MuiInputBase-root {
        color: white !important;

        >.MuiOutlinedInput-notchedOutline {
            border-color: white !important;

        }

    }

}

.MuiPaper-root {
    background: rgb(20, 24, 27) !important;
}
